<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-10">
  <div class="breadcrumb-wrap">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb-content text-center">
                      <div class="section-heading">
                          <h2 class="sec__title text-white">Booking Summary</h2>
                      </div>
                      <span class="arrow-blink">
                          <i class="la la-arrow-down"></i>
                      </span>
                  </div><!-- end breadcrumb-content -->
              </div><!-- end col-lg-12 -->
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end breadcrumb-wrap -->
  <div class="bread-svg-box">
      <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
  </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
  END BREADCRUMB AREA
================================= -->

<!-- ================================
    START BOOKING AREA
================================= -->
<section class="booking-area padding-top-100px padding-bottom-70px">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title">Items List</h3>
            </div>
            <div class="form-content">
                <div class="table-form table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Qty</th>
                            <th scope="col">Dimension (L,W,H)</th>
                            <th scope="col">Weight</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">{{booking.quantity}}</td>
                            <td>{{booking.length}} x {{booking.width}} x {{booking.height}}</td>
                            <td>{{booking.weight}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            <div class="form-box">
              <div class="form-title-wrap">
                  <h3 class="title">Additional Information</h3>
              </div><!-- form-title-wrap -->
              <div class="form-content ">
                  <div class="contact-form-action">
                      <form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                            <div class="col-lg-12 responsive-column">
                              <div class="input-box">
                                  <label class="label-text">Items List (separate items with commas)</label>
                                  <div class="form-group">
                                      <!-- <span class="la la-user form-icon"></span> -->
                                      <input class="form-control" type="text" name="text" formControlName="item" placeholder="Example: sawdust, ribbons">
                                  </div>
                              </div>
                          </div><!-- end col-lg-6 -->
                          <div class="col-lg-12 responsive-column">
                              <div class="input-box">
                                  <label class="label-text">Additional Note</label>
                                  <div class="form-group">
                                    <span class="la la-comment form-icon"></span>
                                    <textarea class="message-control form-control" name="message" formControlName="description"  placeholder="Add additional notes here..."></textarea>
                                </div>
                              </div>
                            </div><!-- end col-lg-6 -->
                          </div>
                          <div class="btn-box pb-4">
                            <a href="main/booking/modify/{{booking._id}}" class="theme-btn border-0 text-white bg-7 mb-2 mr-2">Back to booking</a>
                            <button type="submit" class="theme-btn mb-2">Request a quote</button>
                        </div>
                      </form>
                  </div><!-- end contact-form-action -->
              </div><!-- end form-content -->
            </div><!-- end form-box -->
          </div><!-- end col-lg-8 -->
          <div class="col-lg-4">
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title"><i class="la la-shipping-fast mr-2 text-gray"></i>Shipping Information</h3>
              </div><!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                <ul class="list-items list-items-2">
                  <li><span>Origin:</span>{{booking.origin}}</li>
                  <li><span>Destination:</span>{{booking.destination}}</li>
                  <li><span>Shipping Date:</span>{{booking.shiping_date | date: 'mediumDate'}}</li>
                  <li><span>Actual Weight:</span>{{booking.act_weight}}cm/kgs</li>
                  <li><span>Dim Weight:</span>{{booking.dim_weight}}cm/kgs</li>
                </ul>
              </div>

            </div>
            <div class="form-box">
              <div class="form-title-wrap">
                <h3 class="title"><i class="la la-address-card mr-2 text-gray"></i>Recipient Information</h3>
              </div><!-- form-title-wrap -->
              <div class="form-content contact-form-action">
                <ul class="list-items list-items-2">
                  <li>Name: {{booking.receiver.name}}</li>
                  <li>Phone: {{booking.receiver.phone}}</li>
                  <li>Email: {{booking.receiver.email}}</li>
                  <li>Address: {{booking.receiver.address}}</li>
                </ul>
              </div>
            </div>
          </div><!-- end col-lg-4 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end booking-area -->
<!-- ================================
  END BOOKING AREA
================================= -->
