<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area bread-bg-6">
  <div class="breadcrumb-wrap">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="breadcrumb-content">
                      <div class="section-heading">
                          <h2 class="sec__title text-white">About Us</h2>
                      </div>
                  </div><!-- end breadcrumb-content -->
              </div><!-- end col-lg-6 -->
              <div class="col-lg-6">
                  <div class="breadcrumb-list text-right">
                      <ul class="list-items">
                          <li><a href="main/index">Home</a></li>
                          <li>About Us</li>
                      </ul>
                  </div><!-- end breadcrumb-list -->
              </div><!-- end col-lg-6 -->
          </div><!-- end row -->
      </div><!-- end container -->
  </div><!-- end breadcrumb-wrap -->
  <div class="bread-svg-box">
      <svg class="bread-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><polygon points="100 0 50 10 0 0 0 10 100 10"></polygon></svg>
  </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
  END BREADCRUMB AREA
================================= -->

<!-- ================================
    START ABOUT AREA
================================= -->
<section class="about-area padding-top-200px padding-bottom-40px overflow-hidden">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="section-heading margin-bottom-40px">
                  <!-- <p class="sec__desc pb-2">Our Mission</p> -->
                  <h2 class="sec__title">Connecting the world’s air cargo markets to make them more productive and successful</h2>
                  <p class="sec__desc font-size-16 py-3"> As an agile partner to international freight forwarders and cargo carriers, we are working together to shape the future of air freight.</p>
                  <p class="sec__desc font-size-16 pb-3">Our team combines international experience in building digital business models with relevant expertise in the modernization of B2B processes.</p>
                  <!-- <p class="sec__desc font-size-16">Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, </p> -->
              </div><!-- end section-heading -->
          </div><!-- end col-lg-6 -->

          <div class="col-lg-5 ml-auto">
              <div class="image-box about-img-box image-box-layout-3">
                  <img src="assets/images/img24.jpg" alt="about-img" class="img__item img__item-1">
                  <img src="assets/images/img25.jpg" alt="about-img" class="img__item img__item-2">
              </div>
          </div><!-- end col-lg-5 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end about-area -->
<!-- ================================
  END ABOUT AREA
================================= -->
<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-bg bg-fixed section-padding text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-heading">
                  <h2 class="sec__title text-white font-size-50 line-height-60">Get Direct Access <br>to Leading Airlines.</h2>
                  <p class="sec__desc text-white pt-3">Get real-time prices for available capacities and directly book into <br>the airlines systems.</p>
              </div><!-- end section-heading -->
              <div class="btn-box padding-top-35px">
                  <a href="become-local-expert.html" class="theme-btn border-0">How It Works</a>
              </div>
          </div><!-- end col-lg-12 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
  END CTA AREA
================================= -->

<!-- ================================
       START TOP ACTIVITY AREA
================================= -->
<section class="top-activity-area section--padding">
  <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
              <h2 class="sec__title">Our Services</h2>
          </div><!-- end section-heading -->
        </div><!-- end col-lg-8 -->
      </div><!-- end row -->
      <div class="row padding-top-50px">
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img1.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Courier</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img1.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                            <h3 class="flip-title">For express shipment and delivery of lightweight parcels, packages and the likes.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img2.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Specials</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img2.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Sensitive cargoes that require special attention will be well taken care of.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img3.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Priority</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img3.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Smartsky express delivery service can be triggered when urgent need arises.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img4.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Charter</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img4.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">When it requires the entire aircraft to convey that cargo, then our top notch charter service is activated.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img5.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Support</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img5.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Supporting the supply chain is paramount to our resolve to take the burden away from our clients and satisfy the Service Level Agreement(SLA) to the letter.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->

          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img8.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky CCD</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img8.jpg" alt="" class="flip-img">
                      <a href="index7.html#" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">With our years of experience Custom Clearing & Delivery(CCD), we take the troubles off you and secure a shipment in adherence to regulations and delivers safely.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end top-activity-area -->
<!-- ================================
     START TOP ACTIVITY AREA
================================= -->
