<!-- ================================
    START HERO-WRAPPER AREA
================================= -->
<section class="hero-wrapper hero-wrapper4">
  <div class="hero-box hero-bg-4">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="hero-content mt-0">
                      <div class="section-heading">
                          <h2 class="sec__title">The Smartest way to  <br> Book Air Cargo</h2>
                          <p class="sec__desc pt-3 font-size-18">Send ALL you need to send by AIR and have it delivered on time. It’s that simple</p>
                          <div class="btn-box pt-3">
                            <button class="theme-btn">Get Started</button>
                        </div>
                      </div>
                  </div><!-- end hero-content -->
                  <!-- <div class="hero-list-box margin-top-40px">

                  </div> -->
              </div><!-- end col-lg-7 -->
              <div class="col-lg-5">
                  <div class="search-fields-container search-fields-container-shape">
                      <div class="search-fields-container-inner">
                          <h3 class="title pb-3">Get quick cost estimate for your cargo</h3>
                          <div class="section-block"></div>
                          <div class="contact-form-action pt-3">
                              <form [formGroup]="calculator" class="row">
                                  <div class="col-lg-4">
                                      <div class="input-box">
                                          <label class="label-text">No of Items</label>
                                          <div class="form-group">
                                              <input class="form-control" type="text"  formControlName="count" placeholder="quantity">
                                          </div>
                                      </div>
                                  </div><!-- end col-lg-3 -->
                                  <div class="col-lg-4">
                                    <div class="input-box">
                                        <label class="label-text">Length (cm)</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" formControlName="length" placeholder="Length">
                                        </div>
                                    </div>
                                  </div><!-- end col-lg-3 -->
                                  <div class="col-lg-4">
                                    <div class="input-box">
                                        <label class="label-text">Width (cm)</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" formControlName="width" placeholder="Width">
                                        </div>
                                    </div>
                                  </div><!-- end col-lg-3 -->
                                  <div class="col-lg-4">
                                    <div class="input-box">
                                        <label class="label-text">Height (cm)</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" formControlName="height" placeholder="Height">
                                        </div>
                                    </div>
                                  </div><!-- end col-lg-3 -->
                                  <div class="col-lg-4">
                                    <div class="input-box">
                                        <label class="label-text">Weight (kg)</label>
                                        <div class="form-group">
                                            <input class="form-control" type="text" formControlName="weight" placeholder="Weight">
                                        </div>
                                    </div>
                                  </div><!-- end col-lg-3 -->
                                  <div class="col-md-4">

                                  </div>

                                  <div class="col-md-12 advanced-wrap">
                                    <a class="btn collapse-btn theme-btn-hover-gray font-size-15" data-toggle="collapse" href="index4.html#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                                        Extra Services <i class="la la-angle-down ml-1"></i>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                  <!-- <div class="custom-checkbox"> -->
                                    <input type="checkbox" class="form-group mr-2" formControlName="express" >
                                    <label for="Express Delivery">Express</label>

                                  <!-- </div> -->
                                </div>
                                <div class="col-md-4">
                                  <!-- <div class="custom-checkbox"> -->
                                    <input type="checkbox" class="form-group mr-2" formControlName="insurance">
                                    <label for="Insurance">Insurance</label>
                                  <!-- </div> -->
                                </div>
                                <div class="col-md-4">
                                  <!-- <div class="custom-checkbox"> -->
                                    <input type="checkbox" class="form-group mr-2" formControlName="packaging">
                                    <label for="Packaging">Packaging</label>
                                  <!-- </div> -->
                                </div>
                              </form>
                          </div>

                          <div class="btn-box pt-3">
                              <button class="theme-btn">Total Cost: NGN {{total}}</button>
                          </div>
                      </div>
                  </div>
              </div><!-- end col-lg-5 -->
          </div><!-- end row -->
      </div><!-- end container -->
      <svg class="hero-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
          <polygon points="100 10 100 0 0 10"></polygon>
      </svg>
  </div>
</section><!-- end hero-wrapper -->
<!-- ================================
  END HERO-WRAPPER AREA
================================= -->

<!-- ================================
    START INFO AREA
================================= -->
<section class="info-area padding-top-140px">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 responsive-column">
              <div class="icon-box icon-layout-3 d-flex">
                  <div class="info-icon flex-shrink-0">
                      <i class="la la-clock"></i>
                  </div><!-- end info-icon-->
                  <div class="info-content">
                      <h4 class="info__title">Save Time</h4>
                      <p class="info__desc">
                        Our all-in-one solution makes you more efficient in your daily operations. No more platform switching, less back and forth and more certainty for your business decisions.
                      </p>
                  </div><!-- end info-content -->
              </div><!-- end icon-box -->
          </div><!-- end col-lg-4 -->
          <div class="col-lg-4 responsive-column">
              <div class="icon-box icon-layout-3 d-flex">
                  <div class="info-icon flex-shrink-0">
                      <i class="la la-wallet"></i>
                  </div><!-- end info-icon-->
                  <div class="info-content">
                      <h4 class="info__title">Save Money</h4>
                      <p class="info__desc">
                        Our pricing are transparent and competitive. With us, you are sure of getting the best possible rate
                      </p>
                  </div><!-- end info-content -->
              </div><!-- end icon-box -->
          </div><!-- end col-lg-4 -->
          <div class="col-lg-4 responsive-column">
              <div class="icon-box icon-layout-3 d-flex">
                  <div class="info-icon flex-shrink-0">
                      <i class="la la-headset"></i>
                  </div><!-- end info-icon-->
                  <div class="info-content">
                      <h4 class="info__title">Great Service</h4>
                      <p class="info__desc">
                        Our customer support team are highly trained individuals who are available to inform and guide you throughout the process
                      </p>
                  </div><!-- end info-content -->
              </div><!-- end icon-box -->
          </div><!-- end col-lg-4 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end info-area -->
<!-- ================================
  END INFO AREA
================================= -->

<!-- ================================
       START TOP ACTIVITY AREA
================================= -->
<section class="top-activity-area section--padding">
  <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
              <h2 class="sec__title">Our Services</h2>
          </div><!-- end section-heading -->
        </div><!-- end col-lg-8 -->
      </div><!-- end row -->
      <div class="row padding-top-50px">
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img1.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Courier</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img1.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                            <h3 class="flip-title">For express shipment and delivery of lightweight parcels, packages and the likes.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img2.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Specials</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img2.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Sensitive cargoes that require special attention will be well taken care of.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img3.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Priority</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img3.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Smartsky express delivery service can be triggered when urgent need arises.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img4.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Charter</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img4.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">When it requires the entire aircraft to convey that cargo, then our top notch charter service is activated.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img5.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                          <h3 class="flip-title">Smartsky Support</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img5.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">Supporting the supply chain is paramount to our resolve to take the burden away from our clients and satisfy the Service Level Agreement(SLA) to the letter.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->

          <div class="col-lg-4 responsive-column">
              <div class="flip-box">
                  <div class="flip-box-front">
                      <img src="assets/images/img8.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-end justify-content-start">
                        <h3 class="flip-title">Smartsky CCD</h3>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-front -->
                  <div class="flip-box-back">
                      <img src="assets/images/img8.jpg" alt="" class="flip-img">
                      <a href="main/services" class="flip-content d-flex align-items-center justify-content-center">
                          <div>
                              <!-- <div class="icon-element mx-auto mb-3 bg-white text-color-2">
                                  <i class="la la-arrow-right"></i>
                              </div> -->
                              <h3 class="flip-title">With our years of experience Custom Clearing & Delivery(CCD), we take the troubles off you and secure a shipment in adherence to regulations and delivers safely.</h3>
                          </div>
                      </a><!-- end flip-content -->
                  </div><!-- end flip-box-back -->
              </div><!-- end flip-box -->
          </div><!-- end col-lg-3 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end top-activity-area -->
<!-- ================================
     START TOP ACTIVITY AREA
================================= -->

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-bg bg-fixed section-padding text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-heading">
                  <h2 class="sec__title text-white font-size-50 line-height-60">Get Direct Access <br>to Leading Airlines.</h2>
                  <p class="sec__desc text-white pt-3">Get real-time prices for available capacities.</p>
              </div><!-- end section-heading -->
              <div class="btn-box padding-top-35px">
                  <a href="main/how-it-works" class="theme-btn border-0">How It Works</a>
              </div>
          </div><!-- end col-lg-12 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
  END CTA AREA
================================= -->

<!-- ================================
    START SUB AREA
================================= -->
<section class="subscriber-area section-bg padding-top-70px padding-bottom-130px">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-7">
              <div class="section-heading">
                  <p class="sec__desc pb-1">Get Updates & More</p>
                  <h2 class="sec__title font-size-30 mb-0">Thoughtful thoughts to your inbox</h2>
              </div><!-- end section-heading -->
          </div><!-- end col-lg-7 -->
          <div class="col-lg-5">
              <div class="subscriber-box">
                  <div class="contact-form-action">
                      <form action="#">
                          <div class="input-box">
                              <label class="label-text">Enter email address</label>
                              <div class="form-group mb-0">
                                  <span class="la la-envelope form-icon"></span>
                                  <input class="form-control" type="email" name="email" placeholder="Email address">
                                  <button class="theme-btn theme-btn-small submit-btn" type="submit">Subscribe</button>
                                  <span class="font-size-14 pt-1 text-white-50"><i class="la la-lock mr-1"></i>Don't worry your information is safe with us.</span>
                              </div>
                          </div>
                      </form>
                  </div>
              </div><!-- end section-heading -->
          </div><!-- end col-lg-5 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
  END SUB AREA
================================= -->
