<!-- ================================
       START USER CANVAS MENU
================================= -->
<div class="user-canvas-container">
  <div class="side-menu-close">
      <i class="la la-times"></i>
  </div><!-- end menu-toggler -->
  <div class="user-canvas-nav">
      <div class="section-tab section-tab-2 text-center pt-4 pb-3 pl-4">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="notification-tab" data-toggle="tab" href="user-dashboard.html#notification" role="tab" aria-controls="notification" aria-selected="false">
                      Notifications
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="account-tab" data-toggle="tab" href="user-dashboard.html#account" role="tab" aria-controls="account" aria-selected="true">
                      Account
                  </a>
              </li>
          </ul>
      </div><!-- end section-tab -->
  </div>
  <div class="user-canvas-nav-content">
      <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="notification" role="tabpanel" aria-labelledby="notification-tab">
              <div class="user-sidebar-item">
                  <div class="notification-item">
                      <div class="list-group drop-reveal-list">
                          <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your request has been sent</h3>
                                      <p class="msg-text">2 min ago</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i class="la la-check"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your account has been created</h3>
                                      <p class="msg-text">1 day ago</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i class="la la-user"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your account updated</h3>
                                      <p class="msg-text">2 hrs ago</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i class="la la-lock"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your password changed</h3>
                                      <p class="msg-text">Yesterday</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                           <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element bg-5 flex-shrink-0 mr-3 ml-0"><i class="la la-envelope"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your email sent</h3>
                                      <p class="msg-text">Yesterday</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                           <a href="user-dashboard.html#" class="list-group-item list-group-item-action">
                              <div class="msg-body d-flex align-items-center">
                                  <div class="icon-element bg-6 flex-shrink-0 mr-3 ml-0"><i class="la la-envelope"></i></div>
                                  <div class="msg-content w-100">
                                      <h3 class="title pb-1">Your email changed</h3>
                                      <p class="msg-text">Yesterday</p>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                      </div>
                  </div><!-- end notification-item -->
              </div>
          </div>
          <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
              <div class="user-action-wrap user-sidebar-panel">
                  <div class="notification-item">
                      <a href="user-dashboard-profile.html" class="dropdown-item">
                          <div class="d-flex align-items-center">
                              <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="assets/images/team8.jpg" alt="team-img"></div>
                              <span class="font-size-14 font-weight-bold">Ali Tufan</span>
                          </div>
                      </a>
                      <div class="list-group drop-reveal-list user-drop-reveal-list">

                          <a href="user-dashboard-booking.html" class="list-group-item list-group-item-action">
                              <div class="msg-body">
                                  <div class="msg-content">
                                      <h3 class="title"><i class="la la-shopping-cart mr-2"></i>My Booking</h3>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <a href="user-dashboard-reviews.html" class="list-group-item list-group-item-action">
                              <div class="msg-body">
                                  <div class="msg-content">
                                      <h3 class="title"><i class="la la-heart mr-2"></i>My Reviews</h3>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <a href="user-dashboard-settings.html" class="list-group-item list-group-item-action">
                              <div class="msg-body">
                                  <div class="msg-content">
                                      <h3 class="title"><i class="la la-gear mr-2"></i>Settings</h3>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                          <div class="section-block"></div>
                          <a href="index.html" class="list-group-item list-group-item-action">
                              <div class="msg-body">
                                  <div class="msg-content">
                                      <h3 class="title"><i class="la la-power-off mr-2"></i>Logout</h3>
                                  </div>
                              </div><!-- end msg-body -->
                          </a>
                      </div>
                  </div><!-- end notification-item -->
              </div>
          </div>
      </div>
  </div>
</div><!-- end user-canvas-container -->
<!-- ================================
     END USER CANVAS MENU
================================= -->

<!-- ================================
     START DASHBOARD NAV
================================= -->
<div class="sidebar-nav">
  <div class="sidebar-nav-body">
      <div class="side-menu-close">
          <i class="la la-times"></i>
      </div><!-- end menu-toggler -->
      <div class="author-content">
          <div class="d-flex align-items-center">
              <div class="author-img avatar-sm">
                  <img src="assets/images/team8.png" alt="testimonial image">
              </div>
              <div class="author-bio">
                  <h4 class="author__title">{{user.name}} </h4>
                  <span class="author__meta">User Account</span>
              </div>
          </div>
      </div>
      <div class="sidebar-menu-wrap">
          <ul class="sidebar-menu toggle-menu list-items">
              <!-- <li class="page-active"><a href="#"><i class="la la-dashboard mr-2"></i>Dashboard</a></li> -->
              <li class="page-active">
                <span class="side-menu-icon toggle-menu-icon">
                    <i class="la la-angle-down"></i>
                </span>
                <a href="user/booking/create"><i class="la la-clipboard-list mr-2 text-color-3"></i>Bookings</a>
                <ul class="toggle-drop-menu">
                    <li><a href="user/booking/create">Create Booking</a></li>
                    <li><a href="user/booking/list">Bookings List</a></li>
                </ul>
              </li>
              <li><a href="user/invoices"><i class="la la-clipboard-check mr-2 text-color-3"></i>Invoices</a></li>
              <li><a href="user/quotes"><i class="la la-file-invoice mr-2 text-color-3"></i>Quotes</a></li>
              <li><a href="user/orders"><i class="la la-shopping-basket mr-2 text-color-3"></i>Orders</a></li>
              <li><a href="user/bookings"><i class="la la-route mr-2 text-color-3"></i>Track</a></li>
              <li><a href="user/bookings"><i class="la la-cog mr-2 text-color-3"></i>Settings</a></li>
              <li><a href="#" (click)="logOut()"><i class="la la-power-off mr-2 text-color-6"></i>Logout</a></li>
          </ul>
      </div><!-- end sidebar-menu-wrap -->
  </div>
</div><!-- end sidebar-nav -->
