<!-- end modal-shared -->
<div class="modal-popup">
  <div class="modal fade" id="signupPopupForm" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <div>
                      <h5 class="modal-title title" id="exampleModalLongTitle">Create New Account</h5>
                      <p class="font-size-14">Select the account that applies to you.</p>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="la la-close"></span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="section-tab section-tab-3 pt-1 pb-4">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#user" [ngClass]="{ 'active':type==='individual'}" data-toggle="tab"  role="tab" (click)="userType('individual')">
                            Personal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{ 'active':type==='organisation'}" data-toggle="tab" href="#organisation" role="tab" (click)="userType('organisation')" >
                            Company
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{ 'active':type==='agent'}" data-toggle="tab" href="#agent" role="tab" (click)="userType('agent')" >
                            Agent
                        </a>
                    </li>
                  </ul>
                </div><!--End Section Tab-->
                <div class="tab-content margin-bottom-40px" id="myTabcontent">
                  <div class="tab-pane fade" [ngClass]="{ 'active show':type==='individual'}" role="tabpanel" >
                    <app-user></app-user>
                  </div>
                  <div class="tab-pane fade" [ngClass]="{ 'active show':type==='organisation'}" role="tabpanel" >
                    <app-company></app-company>
                  </div>
                  <div class="tab-pane fade" [ngClass]="{ 'active show':type==='agent'}" role="tabpanel" >
                    <app-agent></app-agent>
                  </div>
                </div><!--End Tab Content-->
              </div>
          </div>
      </div>
  </div>
</div><!-- end modal-popup -->
