<!-- ================================
    START CONTACT AREA
================================= -->
<section class="contact-area padding-top-100px padding-bottom-70px">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 mx-auto">
              <div class="form-box">
                  <div class="form-title-wrap">
                      <h3 class="title">Login Information</h3>
                      <p class="font-size-15 pt-2">Don't Have an account? Create a new one
                          <a href="main/auth/register" class="text-color">here</a>
                      </p>
                  </div><!-- form-title-wrap -->
                  <div class="form-content ">
                      <div class="contact-form-action">
                          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                              <div class="input-box">
                                  <label class="label-text">Email</label>
                                  <div class="form-group">
                                      <span class="la la-envelope-o form-icon"></span>
                                      <input class="form-control" type="email" formControlName="email" placeholder="Enter email address" [ngClass]="{'error': formErrors.email}" (blur)="logFormErrors()">
                                      <small class="error-message" *ngIf="formErrors.email">
                                        {{ formErrors.email }}
                                      </small>
                                  </div>
                              </div>
                              <div class="input-box">
                                <label class="label-text">Password</label>
                                <div class="form-group">
                                    <span class="la la-key form-icon"></span>
                                    <input class="form-control" type="password" name="password" formControlName="password" placeholder="Enter password" [ngClass]="{'error': formErrors.password}" (blur)="logFormErrors()">
                                </div>
                            </div>
                              <div class="btn-box">
                                  <button type="submit" class="theme-btn">{{btn_msg}}</button>
                              </div>
                              <div class="alert alert-success alert-dismissible fade" [ngClass]="{'show': msg}" role="alert" *ngIf="!error">
                                <i class="la la-check mr-2"></i>{{msg}}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="alert alert-danger alert-dismissible fade" [ngClass]="{'show': msg}" role="alert" *ngIf="error">
                                <i class="la la-times mr-2"></i>{{msg}}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                          </form>
                      </div><!-- end contact-form-action -->
                  </div><!-- end form-content -->
              </div><!-- end form-box -->
          </div><!-- end col-lg-8 -->
      </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end contact-area -->
<!-- ================================
  END CONTACT AREA
================================= -->
